/**
 * You can write your custom css code below
 * The css will work only for both iOS and Android 
 */

.hide-in-app,
footer {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}