.hide-in-app,
footer,
.smartbanner,
#ideasoft,
.facebook-button {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

.smartbanner-show {
    margin-top: 0px !important;
}